# Reglas generales para todas las aplicaciones

# Compiled class files
*.class

# Compiled JSP files

# Work directories
work/
target/
out/
build/
dist/
bin/
tmp/
temp/
*.tmp
*.bak
*.swp
*~.nib

# Log files
*.log

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
*.iunit
*.idr
*.imodule
*.iws

# Eclipse files
.classpath
.project
.settings/
*.launch
*.pydevproject

# NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Gradle files
build/
.gradle/

# VS Code files
.vscode/

# Ignorar el archivo .env
.env